.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #282828;
    border-radius: 15px;
    min-height: 50px;

    a {
        text-decoration: none;
    }

    .link {
        font-weight: bold;
        text-decoration: none;
        color: #fff;
        padding: 5px 10px;
        border-radius: 10px;
    }

    .active {
        font-weight: bold;
        text-decoration: none;
        background-color: #458588;
        color: #fff;
        padding: 5px 10px;
        border-radius: 10px;
    }
}