.container {
    cursor: pointer;

    border-radius: 15px;
    min-height: 40px;
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
    font-weight: bold;
}